.header__logo {
  width: 142px;
  height: auto;
  padding-top: 45px;
  padding-bottom: 41px;
}

@media screen and (max-width: 907px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 103.74px;
    padding-top: 28px;
    padding-bottom: 31.6px;
  }
}
