.profile {
  display: grid;
  max-width: 880px;
  align-items: center;
  padding: 40px 27px 51px;
  margin: 0 auto;
  column-gap: 30px;
  grid-template-columns: 120px 336px auto;
}

@media screen and (max-width: 720px) {
  .profile {
    grid-template-columns: repeat(auto-fill, 100%);
    justify-items: center;
  }
}
