.header {
  max-width: 880px;
  border-bottom: 1px solid #545454;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center
}

@media screen and (max-width: 907px) {
  .header {
    padding: 0 27px;
  }
}
